* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 30px/1.5 "Segoe UI", "Open Sans", sans-serif;
    background: #211c37;
    color: #eee;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#user, #score {
    background: #333;
    border: 5px solid #fff;
    border-radius: 4px;
}

#score {
    margin: 20px 0;
    padding: 5px 20px;
}

#username, #team {
    display: inline-block;
    padding: 5px 20px;
}
#user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#username {
    /* truncate text to width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#team {
    border-left: 5px solid #fff;
}

#buzzer-container {
    flex-grow: 1;
    position: relative;
}

button {
    outline: 0;
    border: 0;
    background: #eee;
    border-radius: 4px;
    font: inherit;
}

#buzzer {
    width: 100%;
    height: 100%;
    padding: 100px;

    position: absolute;
    right: 0;
    top: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(10,10,10,0.95);
    padding: 20px;
}
#connect-modal {
    background: #222;
    width: 100%;
    padding: 20px;
    font-size: 25px;
}
#connect-button {
    margin-top: 20px;
    padding: 5px 20px;
    transition: 0.2s ease-out;
}
#connect-button:hover, #connect-button:active {
    background: #3978f2;
}






/* =================================================================== */
input[type=text] {
    width: 100%;
    background: #3a3a3a;
    color: #eee;
    padding: 5px;
    border: 2px solid #555;
    font: inherit;
}
#connect-modal ::-webkit-input-placeholder {
    color: #777;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    cursor: pointer;
}

input[type=radio] + label::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 6px;
    margin-right: 10px;
    width: 17px;
    height: 17px;
    border-radius: 20%;
    background: #aaa;
}
input[type=radio] + label::before {
    border-radius: 50%;
}
input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 5px;
    bottom: 11px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #222;
}
