* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #32373a;
    color: #ddd;
    font: 16px/1.5 "Segoe UI", "Open Sans", sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

h1, h2, h3 {
    color: #c0c0c0;
    font: 30px "Montserrat";
    font-weight: normal;
    letter-spacing: 1px;

}

.col {
    flex-grow: 1;
    min-width: 300px;
    padding: 30px;
}

.team {
    min-width: 26vw;
    background: #2d3134;
    color: #ddd;
}
.middle {
    min-width: 48vw;
}

.header {
    padding: 5px;
    border-radius: 3px;
    background: #262a2d;
}

.team-header, #question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 5px solid #4c5559;
}
#team-a .team-header { border-color: #6a4aeb; }
#team-b .team-header { border-color: #2b8fd0; }
.team-header h1, #question-header h1 {
    display: inline-block;
    padding: 5px 20px;
}
.team-a-winning #team-a .points { color: #6a4aeb; }
.team-b-winning #team-b .points { color: #2b8fd0; }

.members-container, .questions-container, #instructions-container {
    margin: 30px 0;
}

.members-header, .questions-header {
    padding: 6px;
}
.header svg {
    fill: #777;
    display: inline;
    height: 24px;
    margin: 0 10px;
    vertical-align: text-bottom;
}
#team-a .header svg.highlighted { fill: #6a4aeb; }
#team-b .header svg.highlighted { fill: #2b8fd0; }
.header h2 {
    display: inline;
    font-size: 24px;
}
.questions-header h2 {
    font-size: 22px;
}
.questions-header h2 span {
    font-size: 24px;
}
.members, .questions, #instructions {
    padding: 5px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #373e42;
}
.members span, .questions span {
    display: inline-block;
    margin: 2px;
    padding: 1px 4px;
    border-radius: 2px;
    background: #2d3134;
    white-space: nowrap;
    cursor: default;
    transition: 0.2s ease-out;
}
.header .collapse-icon-container {
    float: right;
}
#team-a .members span:hover { background: #6a4aeb; }
#team-b .members span:hover { background: #2b8fd0; }

.middle {
    background: #32373a;
}

#current-question-category span {
    display: none;
}
#category-unkn {
    color: #e3643c;
}
#current-question-category.unkn #category-unkn,
#current-question-category.bio  #category-bio,
#current-question-category.chem #category-chem,
#current-question-category.eart #category-eart,
#current-question-category.ener #category-ener,
#current-question-category.math #category-math,
#current-question-category.phys #category-phys {
    display: inline;
}

#instructions > span {
    display: none;
}
#instructions.start-reading-toss-up #start-reading-toss-up,
#instructions.stop-reading-toss-up #stop-reading-toss-up,
#instructions.start-reading-bonus #start-reading-bonus,
#instructions.stop-reading-bonus #stop-reading-bonus,
#instructions.read-correct-answer #read-correct-answer,
#instructions.buzz-team-a #buzz-team-a,
#instructions.buzz-team-b #buzz-team-b,
#instructions.interrupt-team-a #interrupt-team-a,
#instructions.interrupt-team-b #interrupt-team-b,
#instructions.waiting-buzz-team-either #waiting-buzz-team-either,
#instructions.waiting-buzz-team-a #waiting-buzz-team-a,
#instructions.waiting-buzz-team-b #waiting-buzz-team-b {
    display: inline;
}

#instructions strong {
    color: #fed42a;
}
#instructions span.team-highlight-a { border-bottom: 3px solid #6a4aeb; }
#instructions span.team-highlight-b { border-bottom: 3px solid #2b8fd0; }

button {
    border: 0;
    outline: 0;
    background: #eee;
    font: inherit;
}

#controls button {
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
}

#start-stop-question button {
    width: 100%;
}
#stop-reading-button {
    display: none;
}

#judging {
    display: flex;
    justify-content: space-between;
}

#judging button {
    position: relative;
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
}
#judging button span {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
}
#judging button svg {
    fill: rgba(10, 10, 10, 0.8);
    height: 30px;
    vertical-align: text-bottom;
}
#judging button span, #judging button svg {
    transition: 0.1s ease-out;
}
#judging button:hover span {
    opacity: 1;
}
#judging button:hover svg {
    opacity: 0;
}
#correct-button {
    margin-right: 20px;
    background: #20c05c;
}
#correct-button:hover {
    background: #00d64b;
}
#incorrect-button {
    background: #ed4949;
}
#incorrect-button:hover {
    background: #e83130;
}

.middle button:active {
    transform: translateY(2px);
}

#instructions {
    padding: 10px;
    background: #2d3134;
    font: 18px/1.5 "Open Sans";
    letter-spacing: 0.5px;
}

#timer {
    display: none;
    text-align: center;
}
#timer svg text {
    text-anchor: middle;
    alignment-baseline: middle;
    font: 30px sans-serif;
}
#timer svg circle.moving {
    animation: none;
}
#timer.start-tossup svg circle.moving {
    animation: timerCircleAnimation 5s linear;
}
#timer.start-tossup svg text {
    animation: timerTextAnimation 5s linear;
}
#timer.start-bonus svg circle.moving {
    animation: timerCircleAnimation 20s linear;
}
#timer.start-bonus svg text {
    animation: timerTextAnimation 20s linear;
}

@keyframes timerCircleAnimation {
    from {
        stroke-dashoffset: 0px;
        stroke: #fed42a;
    }
    to {
        stroke-dashoffset: 339.292px;
        stroke: #fe2a2a;
    }
}

@keyframes timerTextAnimation {
    from {
        fill: #fed42a;
    }
    to {
        fill: #fe2a2a;
    }
}

body {
    overflow-y: hidden;
}
.middle {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
	background-color: #32373a;
} ::-webkit-scrollbar-thumb {
    background-color: #666;
} ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
} ::-webkit-scrollbar-thumb:active {
    background-color: #bbb;
}

#title-bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    margin-top: 1px;
    padding: 2px;
    background: #2d3134;
    color: #aaa;
}
#title {
    margin-left: 4px;
    font: 16px "Montserrat";
}
#title-bar button {
    -webkit-app-region: no-drag;
}
#title-bar > div {
    display: inline-block;
}
#title-options {
    margin-top: -1px;
    margin-left: 40px;
}
#title-options button {
    fill: #888;
    padding: 2px 10px;
    border-radius: 2px;
    background: #2d3134;
    color: #888;
    font-size: 14px;
    transition: 0.1s ease-out;
}
#title-options button:hover {
    fill: #fed42a;
    background: #3a4145;
    color: #fed42a;
}
#title-options button svg {
    display: inline;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
#window-buttons {
    position: fixed;
    top: 0px;
    right: 2px;
}
#window-buttons button {
    height: 30px;
    padding: 5px 20px;
    background: #2d3134;
    color: #aaa;
    font-family: "Segoe MDL2 Assets";
    font-size: 12px;
    transition: 0.1s ease-out;
}
#window-buttons #restore-btn {
    display: none;
}
#window-buttons button:hover {
    background: #3a4145;
    color: #eee;
}
#window-buttons #close-btn:hover {
    background: #d0240c;
}
